<div class="header" nz-row>
  <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="5" nzXxl="4">
    <h2>Some logo?</h2>
  </div>
  <div nz-col nzXs="0" nzSm="0" nzMd="18" nzLg="18" nzXl="19" nzXxl="20" class="menu-row">
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzMatchRouter><a routerLink="/dashboard">Dashboard</a></li>
      <li nz-menu-item nzMatchRouter><a routerLink="/devices">Devices</a></li>
      <li nz-menu-item nzMatchRouter><a routerLink="/workspace">Workspace</a></li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/notifications">
          <nz-badge [nzCount]="notificationsCounter$ | async" [nzStyle]="{ backgroundColor: '#52c41a' }"
            [nzOverflowCount]="99">
            Notifications
          </nz-badge>
        </a>
      </li>
    </ul>
  </div>
</div>
