:host {
  display: block;
  position: relative;
  overflow: hidden;
  canvas {
    background-color: #909090;
    display: block;
  }
  .buttons {
    position: absolute;
    right: 20%;
    margin-right: 10px;
    top: 10px;
    > * {
      margin-left: 10px;
    }
  }

  .side-panel {
    width: 20%;
    height: 100%;
    display: block;
    position: absolute;
    overflow-x: visible;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.89);
    backdrop-filter: blur(5px);
    border-left: 1px solid #f0f1f2;
    padding: 10px;

    nz-tabset {
      overflow-x: visible;

      .nodes-list {
        .node {
          width: 100%;
          margin: 1px 0;
          text-align: left;

          .tag {
            float: right;
          }
        }
      }

      .controller-list {
        .controller {
          padding: 10px;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .draggable {
    cursor: copy;
    z-index: 1;
    transform: none !important;
    &:active {
      // position: absolute;
    }

    &.cdk-drag-disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}

.card {
  background-color: #353535;
  border-radius: 10px;
  border-color: #aaaaaa;
  padding-bottom: 5px;
  .title {
    font-weight: 400;
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid #2a2a2a;
  }
  ul {
    font-size: small;
  }
  * {
    color: #aaaaaa;
  }
}
