<div class="page-container">

  <h2 (click)="addDevice()">Devices list</h2>
  <nz-list nzGrid>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzXXl]="8" [nzXl]="4" [nzLg]="6" [nzMd]="6" [nzSm]="12" [nzXs]="24"
        *ngFor="let item of devices$ | async">
        <nz-list-item>
          <nz-card [nzTitle]="titleTemplate">
            <p *ngIf="item.description">{{item.description}}</p>
            <nz-tag>{{item.mac_addr}}</nz-tag>
          </nz-card>
          <ng-template #titleTemplate>
            <a [routerLink]="['details', item.id]">
              {{item.name}}
              <i *ngIf="item.configuration?.isConfigured" nz-icon nzType="check-circle" nzTheme="twotone"
                nzTwotoneColor="#52c41a" nz-tooltip nzTooltipTitle="Device is configured"></i>
              <i *ngIf="!item.configuration?.isConfigured" nz-icon nzType="exclamation-circle" nzTheme="twotone"
                nzTwotoneColor="#faad14" nz-tooltip nzTooltipTitle="Warning: device is not configured"></i>
            </a>
          </ng-template>
        </nz-list-item>
      </div>
    </div>
  </nz-list>
</div>
