/* You can add global styles to this file, and also import other style files */
a {
  .ant-statistic {
    opacity: 0.8;
    &:hover {
      opacity: 1;
      .ant-statistic-title {
        color: black;
      }
    }
  }
}

.page-container {
  display: block;
  max-width: 1200px;
  margin: auto;
  padding-top: 1em;
}
